body {
  margin: 0;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #feca57;
}
.envelope {
  width: 300px;
  height: 150px;
  background: #ae4243;
  position: relative;
}
.envelope_top {
  border-bottom: 100px solid #ae4243;
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	height: 0;
	width: 80px;
  position: absolute;
  transform: translateY(-100%);
  transform-origin: bottom;
  transition: .3s;
  z-index: 3;
}
.envelope_body {
  position: relative;
}
.envelope_body_front {
  width: 300px;
	height: 75px;
	background: #ff6b6b;
  position: absolute;
  z-index: 2;
  transform: translateY(100%);
}
.envelope_body_left {
  width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 110px solid #ee5253;
	border-bottom: 75px solid transparent;
  z-index: 3;
  position: relative;
}
.envelope_body_right {
  float: right;
  width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-right: 110px solid #ee5253;
	border-bottom: 75px solid transparent;
  transform: translateY(-100%);
  z-index: 3;
  position: relative;
}
.paper {
  background: #fff;
  width: 260px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -135px;
  margin-top: -60px;
  text-align: center;
  padding: 5px;
  line-height: 4em;
  font-size: 1.5em;
  z-index: 3;
  transition: .2s;
}
.envelope_top_close {
  transform: translateY(-100%) rotateX(180deg);
  border-bottom: 100px solid #ef5b5b;
  z-index: 4;
}
.paper_close {
  margin-top: 0;
  z-index: 2;
}
